
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    position: relative;
    /* max-width: 80px; */
    max-width: 120px;
}
header ul {
    position: relative;
    display: flex;
}
header ul li {
    list-style-type: none;
}
header ul li a {
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}
.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textBox {
    position: relative;
    max-width: 700px;
}
.content .textBox h2 {
    /* color: #333;
    font-size: 4em;
    line-height: 1.4rem;
    font-weight: 500; */
    color: #333;
    font-size: 4em;
    line-height: 4.4rem;
    font-weight: 500;
    height: 230px;
}
.content .textBox h2 span {
    /* color: #017143; */
    color: #671f75;
    font-size: 1.2em;
    font-weight: 900;
}
.content .textBox p {
 color: #333;
}
.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    /* background: #017143; */
    background: #671f75;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
   }
   .content .imgBox {
position: relative;

    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
   }
   .content .imgBox img {

    position: absolute; /* If needed */
    /* top: 0;  */
    top: -265px;
    left: 0; /* Adjust as needed */
    /* max-width: 340px; */
    /* max-width: 400px; */
    max-width: 600px;
    /* width: 550px; */
    width: 480px;
   }

.thumb {
    position: absolute;
    /* letter-spacing: 50%; */
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}
.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li:hover {
    transform: translateY(-15px);
}
.thumb li img {
    max-width: 60px;
}
.sci {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sci li {
list-style: none;
}
.sci li a {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}
.sci li a i {
    font-size: 50px;
    color: #000
}
.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #54366a;
    /* background: #671f75; */
    /* background: #524189; */
    clip-path: circle(600px at right 800px);
    transition: 0.3s ease-in;
}
/* Clip-path is a CSS property that allows you to specify a clipping region to hide portions of an element */

.color-span {
    /* color: #671f75; */
    color: #54366a;

}

#main-img {
    rotate: 34deg;
    margin-top: 10px;
    margin-left: 0px;
}

   #purple-image {
    rotate: 180deg;
    position: absolute;
    bottom: -75px;
    right: 0;
   }